.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.form-container h3 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.form input {
  outline: none;
  border: none;
  font-size: 1rem;
  border-bottom: 1px solid black;
  padding: 0.5rem;
  width: 250px;
}

.form {
  margin-top: 0;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  outline: none;
  border: none;
  padding: 0.5rem 1.3rem;
  margin-left: 2rem;
  background-color: #0067b8;
  color: #fff;
}

.todo-button h2 {
  font-size: 1rem;
  font-weight: 300;
}

button:hover {
  background-color: #0a4f83;
  color: #fff;
}
