* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  /* background: linear-gradient(to right, #ff7e5f, #feb47b); */
  background-color: #ddd;
}

.todo-container {
  display: flex;
  flex-direction: column;
  margin: 12rem auto;
  padding: 0 1rem;
  background-color: #fff;
  max-width: 450px;
  min-height: 400px;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}
