* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  /* background: linear-gradient(to right, #ff7e5f, #feb47b); */
  /* background-color: rgb(238, 238, 238); */
  background-image: url("./255254.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.todo-container {
  display: flex;
  flex-direction: column;
  /* overflow-y: scroll; */
  margin: 10rem auto;
  padding: 0 1rem;
  background-color: #fff;
  max-width: 450px;
  min-height: 480px;
  box-shadow: 1px 0px 3px 3px rgba(14, 36, 49, 0.15);
}
